<h2>Create a new Question</h2>
<%= simple_form_for([:categories, @quiz]) do |q| %>
  <%= q.error_notification %>
  <%= q.input :category_id, collection: Category.list, prompt: "Select a Category", :required => true, :autofocus => true %>
  <%= q.input :difficulty, :label => "Progress", collection: Quiz.progresses, prompt: "Select the Course Progress", :required => true, :autofocus => true %>
  
  <%= q.input :question, :as => :text, :input_html => { :cols => 100, :rows => 8, :class => "span8 " } %>
  <%= q.input :answer, :as => :text, :input_html => { :cols => 100, :rows => 8, :class => "span8" } %>
  <%= q.input :false_1, :as => :text, :label => "Please add a False Answer", :input_html => { :cols => 100, :rows => 8, :class => "span8" } %>
  <%= q.input :false_2, :as => :text, :label => "Please add a False Answer", :input_html => { :cols => 100, :rows => 8, :class => "span8" } %>
  <%= q.input :false_3, :as => :text, :label => "Please add a False Answer", :input_html => { :cols => 100, :rows => 8, :class => "span8" } %>
  <%= q.button :submit, "Submit Question", :class => 'btn-primary' %>
<% end %>