<div class="container" id="mainNav">
 <div class="row-fluid">
  <div class="span2">
   <%= render 'layouts/sidenav' %>
  </div>
  <div class="span8">
    <%= form_tag(check_answer_path) do %>
    <table class="table table-bordered">
 	 <thead>
      <tr>
       <th>#</th>
       <th>Quiz Results - Answers Submitted</th>
       <th></th>
       <th></th>
      </tr>
      <tbody>
        <% @results.each do |result| %>
          <% if result[:valid] == 0 %>
            <tr class="error">
            <td><%= @results.find_index(result) + 1 %></td>
            <td id="<%= result[:user] %>"><%= result[:user] %></td>
            <td><i class="icon-remove"></i></td>
            <td><%= radio_button_tag(:review, "#{@option4}") %></td>
          <% else %>
            <tr class="success">
            <td><%= @results.find_index(result) + 1 %></td>
            <td id="<%= result[:user] %>"><%= result[:user] %></td>
            <td><i class="icon-ok"></i></td>
            <td align="center"><%= radio_button_tag(:review, 1) %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
      <% end %> 
     </thead>
    </table>

  </div>
 </div>
</div>