<div class="container" id="mainNav">

<div class="row-fluid">

  <div class="span2">
    <%= render 'layouts/sidenav' %>
  </div>
<div class="span8">
	<ul class="breadcrumb">
	  <li><%= link_to 'Categories', categories_path %> /</li>
	  <li><a href="/categories/<%= params[:category_id]%>"><%= params[:category_id]%></a> /</li>
	  <li class="active"><%= params[:id]%></li>
	</ul>

<div class="hero-unit">


<div class="well"><h3><%= @display_question.question%></div>

<br>

<%= form_tag(check_answer_path) do %>

	<div>
	<%= radio_button_tag(:answer, "#{@option1}", :checked => true) %>
	<%= label_tag(:answer1, "#{@option1}") %>
	</div>

	<div>
	<%= radio_button_tag(:answer, "#{@option2}") %>
	<%= label_tag(:answer2, "#{@option2}") %>
	</div>

	<div>
	<%= radio_button_tag(:answer, "#{@option3}") %>
	<%= label_tag(:answer3, "#{@option3}") %>
	</div>

	<div>
	<%= radio_button_tag(:answer, "#{@option4}") %>
	<%= label_tag(:answer4, "#{@option4}") %>
	</div>

<%= hidden_field_tag :question_number, "#{@display_question.question_number}" %>
<%= hidden_field_tag :quiz_difficulty, "#{@display_question.difficulty}" %>
<%= hidden_field_tag :quiz_category, "#{@display_question.category_name}" %>
<%= hidden_field_tag :question_id, "#{@display_question.id}" %>
</br>
<button id="myBtn" class="btn btn-primary">Submit</button>
</div>
</div>
<% end %>
</div>
</div>
</div>