<%= form_tag(complete_path) do |c| %>
<table class="table table-bordered">
 	<thead>
    <tr>
      <th id="table-header">#</th>
      <th id="table-header">Request Tracker</th>
      <th id="table-header">User ID</th>
      <th id="table-header">Request Complete</th>
    </tr>
    <tbody>
      <% @tasks.each do |task| %>
        <% if !!(task[:request_type].match(/.*? (Review|Help)/)) %>
          <tr class="success">
          <td id="number"><%= task[:id] %></td>
          <td><%= task[:request] %></td>
          <td id="userid"><%= task[:user_id] %></td>
          <td id="check"><%= check_box_tag("task[done][]", task[:id]) %></td>
        <% elsif !!(task[:request_type].match(/Add Feature/)) %>
          <tr class="warning">
          <td id="number"><%= task[:id] %></td>
          <td><%= task[:request] %></td>
          <td id="userid"><%= task[:user_id] %></td>
          <td id="check"><%= check_box_tag("task[done][]", task[:id]) %></td>
        <% elsif !!(task[:request_type].match(/Site Issue/)) %>
          <tr class="error">
          <td id="number"><%= task[:id] %></td>
          <td><%= task[:request] %></td>
          <td id="userid"><%= task[:user_id] %></td>
          <td id="check"><%= check_box_tag("task[done][]", task[:id]) %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>
<div class="offset10"><button id="myBtn" class="btn btn-primary">Submit</button></div>
<% end %> 