<div class="container" id="mainNav">
  <div class="row-fluid">
    <div class="span2">
          <%= render 'layouts/sidenav' %>
        </div>
      <div class="span10">
        <div class="btn-toolbar">
          <div class="btn-group" id="orderButtons">
          </div>
        </div>
        <div style="position:relative; left:500px;" class="expandDiv"></div>
          <table class="table table-bordered animated fadeIn">
              <thead>
                <tr>
                  <th><%= sortable "name" %></th>
                  <th><%= sortable "created_at", "created" %></th>
                </tr>
              </thead>
              <tbody>
              <% @cat.each do |cat| %>
                <tr id="category" class="<%= cat.name%>" >
                  <td id="<%= cat.name %>"><a href="categories/<%= cat.name%>"><i class="icon-chevron-right"></i>  <%= cat.real_name %></a></td>
                  <td><%= cat.created_at %></td>
                </tr>
              <% end %>
              </tbody>
            </table>

      </div>
    </div>
  </div>
</div>

