<div class="container" id="mainNav">
  <div class="row-fluid">
    <div class="span2">
          <%= render 'layouts/sidenav' %>
        </div>
      <div class="span10">
          <table class="table table-bordered animated fadeIn">
              <thead>
                <tr>
                  <th><%= sortable "name", "Courses" %></th>
                  <th><%= sortable "created_at", "Created" %></th>
                  <th>Enroll in class</th>
                </tr>
              </thead>
              <tbody>
              <%= form_tag("categories/enroll", method: "post") do %>
               
              <% @cat.each do |cat| %>
                <tr id="category" class="<%= cat.name%>" >
                  <td id="<%= cat.name %>"class="category" ><a href="categories/<%= cat.name%>"><i class="icon-chevron-right"></i>  <%= cat.real_name %></a></td>
                  <td id="number"><%= cat.created_at.strftime("%b. %d, %Y") %></td>
                  <td id="number">
                    <%= check_box_tag("enrolled_collection[#{cat.real_name}]") %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= submit_tag 'Enroll in Classes', :id => 'enrolled_classes', :class => 'btn btn-primary'  %>

            <% end %> 
      </div>
    </div>
  </div>
</div>

