<div class="container" id="mainNav">
  <div class="row-fluid">
    <div class="span2">
          <%= render 'layouts/sidenav' %>
        </div>
      <div class="span10">
        <div class="well">
          <table class="table table-condensed">
              <thead>
                <tr>
                  <th><%= sortable "quiz number" %></th>
                </tr>
              </thead>
              <tbody>
              <% @cat2.each do |cat| %>
                <tr>
                  <td id="<%= cat %>"><a href="quizzes/<%= cat%>"><%= cat %></a></td>
                </tr>
              <% end %>
              </tbody>
            </table>
      </div>
      </div>
    </div>
  </div>
</div>