<% if user_signed_in? %>
	<ul class="nav nav-tabs nav-stacked">
	    <li class=" <%= 'active' if params[:controller] == 'home' %>">
	    <%= link_to 'Home', root_path%>
	    </li>
	    <li class=" <%= 'active' if params[:controller] == 'quizzes' %>">
	    <%= link_to 'Quizzes(categories_path)', categories_path %>
	    </li>
	    
	    <li class=" <%= 'active' if params[:controller] == 'X' %>">
	    <%= link_to 'Study Guides' %>
	    </li>

	    <li class=" <%= 'active' if params[:controller] == 'stats' %>">
	    <%= link_to 'Stats', stats_path %>
	    </li>
	</ul>
<% end %>